<!-- Base.html serves as a template for other html files. When you use { % extends "skill_huddle/base.html" %},
     base.html is rendered with the content of any matching { % block "blockname" %} tags replacing the default values
     in this file. -->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {%  block title %}
            Title
        {% endblock %}
    </title>

</head>
<body>

    <div id="header">
        {% block header %}
            Header
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
            Content
        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
            Footer
        {% endblock %}
    </div>

</body>
</html>