{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About Skill Huddle</h1>

<p>
SH is a web application that provides a way to find and manage in-person meetings (called Huddles) between nearby people
who have a shared interest in learning specific skills.
</p>

<h3>Definitions</h3>
<ul>
    <li>Skill Huddle (SH) - The Skill Huddle web application.</li>
    <li>Non-Registered User (NRU) - A visitor who does not have an SH account.</li>
    <li>SH User (SHU) - A visitor who does have an SH account.</li>
    <li>League - A community of people who meet together.</li>
    <li>Suggestion - A proposal for a Huddle that is voted on by League Members.</li>
    <li>Huddle - A meeting among League Members.</li>
    <li>League Member (LM) - An SHU that belongs to a specific League.</li>
    <li>Official - A skilled League Member who leads Huddles.</li>
    <li>Head Official (HO) - The managing Official of a League.</li>
    <li>Admin - A SH staffer who uses their unrestricted permissions to enforce SH policies.</li>
</ul>
{% endblock %}
