<!DOCTYPE html>
<html>
  <head>
    <title>Skill Huddle - {% block title %}Home{% endblock %}</title>
  </head>

  <body>
    <div id="header">
        <ul>
        {% block header %}
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'create_league' %}">Create a league</a></li>
            <li><a href="{% url 'leagues' %}">View leagues</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">Register Here</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        {% endblock %}
        </ul>
    </div>

    <hr />

    <div id="notifications">
        {% block notifications %} {% endblock %}
    </div>

    <div id="content">
      {% block content %} {% endblock %}
    </div>

    <div id="footer">
        {% block footer %} {% endblock %}
    </div>
  </body>
</html>
