{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<h1>Hello {{ user.username }}!</h1>
<h3>Your Upcoming Huddles</h3>
{% if user.sh_user.attending.all %}
<div class="list-group">
    {% for huddle in user.sh_user.attending.all %}
    <a class="list-group-item" href="{% url 'huddle_detail' huddle.id %}">
      <span class="list-group-item-heading">{{ huddle}}</span> -
      <span class="list-group-item-text">on {{ huddle.date }}</span>
    </a>
    {% endfor %}
</div>
{% else %}
<p>You are not attending any huddles!</p>
{% endif %}


{% else %}
<h1> Welcome to Skill Huddle</h1>
<h3>
Skill Huddle is a web application that provides a way to find and manage in-person meetings between nearby people who have a shared interest in learning specific skills.
</h3>
<h3><a href="{% url 'login' %}">Log in</a> or <a href="{% url 'register' %}">Register!</a></h3>

<hr/>

<h3>Terminology</h3>
<ul>
    <li>SH User (SHU) - A visitor who does have an SH account.</li>
    <li>League - A community of people who meet together.</li>
    <li>Suggestion - A proposal for a Huddle that is voted on by League Members.</li>
    <li>Huddle - A meeting among League Members.</li>
    <li>League Member (LM) - An SHU that belongs to a specific League.</li>
    <li>Official - A skilled League Member who leads Huddles.</li>
    <li>Head Official (HO) - The managing Official of a League.</li>
</ul>

{% endif %}
{% endblock %}
