{% extends 'base.html' %}

{% comment %}
Template variables passed:
league: League object for league associated with this page
is_head_official: Bool indicating whether user is a head official in this league
is_official: Bool indicating whether user is an official in this league
is_member: Bool indicating whether user is a member of this league
{% endcomment %}

{% load bootstrap3 %}

{% block title %}{{ league }}{% endblock %}

{% block content %}
<h1>{{ league }}</h1>
<p>
  {% if is_head_official %}
  <a class="btn btn-default" href="{% url 'manage_league_membership' league.id %}">Manage League Membership</a>
  {% endif %}
  {% if is_official %}
  <a class="btn btn-default" href="{% url 'manage_league_suggestions' league.id %}">Manage League Suggestions</a>
  {% endif %}
  {% if is_member %}
  <form id="leave_league_form" method="post" action="{% url "league_detail" league.id %}">
      {% csrf_token %}
      <button class="btn btn-default" type="submit" name="leave">Leave league</button>
  </form>
  {% else %}
  <form id="join_league_form" method="post" action="{% url "league_detail" league.id %}">
      {% csrf_token %}
      <button class="btn btn-primary" type="submit" name="join">Join league</button>
  </form>
{% endif %}
</p>
<p>{{ league.description }}</p>
<p>Country: {{ league.get_country_display }}</p>
<p>State: {{ league.get_state_display }}</p>
<p>City: {{ league.city }}</p>
<p>Created: {{ league.date_created }}</p>
<p>Head official: <a href="{% url 'profile' league.head_official.id %}"> {{ league.head_official }} </a></p>

<h2>Huddles</h2>
{% if league.huddles.all %}
<div class="list-group">
    {% for huddle in league.huddles.all %}
    <a class="list-group-item" href="{% url 'huddle_detail' huddle.id %}">
      <span class="list-group-item-heading">{{ huddle}}</span> -
      <span class="list-group-item-text">on {{ huddle.date }}</span>
    </a>
    {% endfor %}
</div>
{% else %}
<p>No huddles exist for league {{ league }}.</p>
{% endif %}

<h2>Suggestions</h2>
{% if is_member %}
<p><a class="btn btn-primary" href="{% url 'create_suggestion' league.id %}">Create a suggestion</a></p>
{% endif %}
{% if league.suggestions.all %}
<div class="list-group">
    {% for suggestion in league.suggestions.all %}
    <a class="list-group-item" href="{% url 'suggestion_detail' suggestion.id %}">
      <span class="list-group-item-heading">{{ suggestion}}</span> -
      <span class="list-group-item-text">voting ends {{suggestion.voting_ends}}</span>
    </a>
    {% endfor %}
</div>
{% else %}
<p>No suggestions exist for league {{ league }}.</p>
{% endif %}
{% endblock %}
