{% extends "base.html" %}

{% comment %}
Template variables passed:
league: League object for league associated with this page
{% endcomment %}

{% load bootstrap3 %}

{% block title %}All Leagues{% endblock %}

{% block content %}
<h1>Leagues</h1>
{% if list_of_leagues %}
<div class="list-group">
    {% for league in list_of_leagues %}
    <a class="list-group-item" href="{% url 'league_detail' league.id %}">{{ league }}</a>
    {% endfor %}
</div>
{% else %}
<p>No leagues exist. Would you like to <a href="{% url 'create_league' %}">create one?</a></p>
{% endif %}
{% endblock %}
