{% extends "base.html" %}

{% comment %}
Template variables passed:
league: League object for league associated with this page
{% endcomment %}

{% block title %}All Leagues{% endblock %}

{% block content %}
<h1>Leagues</h1>
<ul>
    {% for league in list_of_leagues %}
    <li><a href="{% url 'league_detail' league.id %}">{{ league }}</a></li>
    {% empty %}
    <li>No leagues exist. Would you like to <a href="{% url 'create_league' %}">create one?</a></li>
    {% endfor %}
</ul>
{% endblock %}
