<!-- Template variables passed:
league: League object for league associated with this page
list_of_members: list of SH_Users in this league
-->
{% extends 'base.html' %}
{% block title %} Manage {{ league }} {% endblock %}
{% block header %}
    {{ block.super }}
    <li><a href="{% url 'manage_league' league.id %}">Manage league</a></li>
{% endblock %}
{% block content %}
    {% for sh_user in list_of_members %}
        {% if sh_user != head_official %}
            <li>{{ sh_user }}</li>
        {% endif %}
    {% empty %}
        <p>No users in this league</p>
    {% endfor %}
{% endblock %}
