.welcome-img {
  z-index: -1;
  position: absolute;
  height: 285px;
  top: 1px;
  left: 0px;
  right: 0px;
  background-size: cover;
  background-position-y: -50px;
}
.welcome-text-primary {
  color: white;
    text-shadow: -0px -0px 0 #000, 0px -0px 0 #000, 0px 0px 0 #000, 1px 1px 0 #000;
}
.welcome-text-secondary {
  font-weight: 100;
  width: 400px;
  font-size: 12pt;
  color: white;
  text-shadow: -0px -0px 0 rgba(0, 0, 0, 0.47), 0px -0px 0 rgba(0, 0, 0, 0.58), 0px 0px 0 rgba(0, 0, 0, 0.59),     1px 1px 0 rgba(0, 0, 0, 0.58);
}
.welcome-separator {
	height: 30px;
}
.form-wrapper {
  max-width: 400px;
  margin: 0 auto;
}
.form-control {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-top: 2px;
}
.form-submit {
  margin-top: 10px;
}
